---
const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pt-20 pb-4 text-center align-top text-gray-500 sm:flex-row sm:justify-between sm:text-xs"
>
	<div class="mr-0 sm:mr-4">
		{year}
		Trying to explain stuff
	</div>
	<nav
		aria-label="More on this site"
		class="flex flex-col gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500 flex-wrap items-center justify-center sm:flex-row"
	>
		<a href="/" class="px-4 py-2 sm:py-0 sm:px-2 sm:hover:text-textColor underline">Home</a
		>
		<a href="/about" class="px-4 py-2 sm:py-0 sm:px-2 sm:hover:text-textColor underline"
			>about</a
		>
		<a href="/posts" class="px-4 py-2 sm:py-0 sm:px-2 sm:hover:text-textColor underline"
			>all post</a
		>
		<a href="https://eduaravila.com/" class="px-4 py-2 sm:py-0 sm:px-2 sm:hover:text-textColor underline"
			>webpage</a
		>
		<a href="https://github.com/eduaravila" class="px-4 py-2 sm:py-0 sm:px-2 sm:hover:text-textColor underline"
			>github</a
		>
		<a href="/rss.xml" class="px-4 py-2 sm:py-0 sm:px-2 sm:hover:text-textColor underline"
			>rss</a
		>
	</nav>
</footer>
