---
import CuteImage from "@/components/CuteImage";
import PageLayout from "@/layouts/Base";

export function getStaticPaths() {
  return [{
    params:{
      locale: undefined
    }
  }]
}

const meta = {
	title: "Oops! You found a missing page!",
	description: "Oops! It looks like this page is lost in space!",
};
---
<PageLayout meta={meta}>
  <div class="flex justify-center flex-col items-center">
    <h1 class="title mb-2 text-4xl">404</h1>
    <CuteImage/>
  <div class="flex flex-col sm:flex-row  justify-center items-center">
    <h2 class="mb-1 mt-4 text-2xl ">Page not found.</h2>
    <a href="/" class="underline focus:outline-white bg-gray-100 p-2 rounded-sm text-3xl mt-2 md:mt-0 text-blue-400">Go Back</a>
  </div>
  </div>
</PageLayout>
