---
import PageLayout from "@/layouts/Base";

export function getStaticPaths() {
  return [{
    params:{
      locale: undefined
    }
  }]
}

const meta = {
	title: "Oops! You found a missing page!",
	description: "Oops! It looks like this page is lost in space!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Oops something went wrong</h1>
	<p class="mb-8">Please use the navigation to find your way back</p>
	<div
  class="flex items-center justify-center box-border overflow-hidden mt-9 w-full"
>
  <div>
    <pre
      class="text-super_tiny md:text-tiny select-none text-primary-light dark:text-gray-100">
    ░░░░░░░░░░░░░░░░▒▒░░░░░░                    ░░░░  ░░  ░░░░░░░░  ░░    ░░    ▓▓▓▓▓▓░░    ░░░░▓▓▓▓░░░░                  ░░            ░░░░░░░░    ░░▒▒░░░░░░
▒▒░░░░░░  ░░░░░░░░░░░░░░░░                  ░░  ░░░░    ░░░░░░        ░░  ░░▓▓▓▓▓▓▓▓▒▒░░░░▓▓▓▓▓▓░░░░                ░░            ░░░░  ░░    ░░  ░░░░
  ░░░░░░░░  ░░░░░░░░░░░░░░░░                    ░░  ░░  ░░░░░░    ░░  ░░  ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░░░░░                          ░░░░░░░░  ░░░░  ░░░░    ░░
▒▒░░░░  ░░░░░░  ░░░░  ░░░░░░░░                  ░░░░  ░░░░░░    ░░░░░░░░░░░░▓▓▓▓▓▓▓▓▓▓▓▓██▓▓▓▓▓▓  ░░░░                        ░░  ░░░░░░      ░░░░  ░░░░░░
░░░░░░▒▒▒▒  ░░░░    ░░    ░░░░░░                ░░░░░░░░░░░░  ░░░░░░░░░░░░  ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░░░░░░░                  ▒▒░░░░                ░░░░
░░░░░░  ░░░░▒▒░░░░░░    ░░                      ░░░░░░░░░░░░░░  ░░░░▒▒░░░░░░▓▓▓▓▓▓▒▒░░░░░░▓▓▓▓▓▓    ░░░░                ░░  ░░
░░    ░░░░  ░░░░▒▒  ░░░░    ░░                ░░░░░░  ░░░░░░░░░░▒▒░░░░░░░░▒▒▒▒▒▒░░░░░░░░▒▒░░▓▓░░░░░░░░░░            ░░
░░░░░░░░    ░░      ░░    ░░                  ░░░░░░░░░░░░░░░░░░▒▒░░  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░  ░░░░          ░░
    ░░░░░░░░░░  ░░                            ░░░░░░░░░░░░░░░░░░░░    ░░░░░░░░░░░░░░░░░░░░░░░░░░░░  ░░  ░░                                          ░░░░
░░░░        ░░░░░░                  ░░        ░░░░░░░░░░░░░░░░░░░░          ░░░░    ░░░░░░░░░░▒▒  ░░░░░░
▒▒░░░░░░░░░░    ░░░░░░                        ░░░░░░  ▒▒░░░░░░░░    ░░▓▓▓▓░░              ░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░                                ░░░░░░▒▒░░░░░░░░  ▓▓▓▓▓▓  ░░            ░░        ▒▒░░░░                                          ░░░░░░░░
░░░░        ░░░░░░░░                          ░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒              ░░▒▒░░    ▒▒░░░░                                    ░░░░▒▒▓▓▓▓▒▒▒▒
░░░░░░░░          ░░░░░░░░                    ░░░░░░░░░░░░░░░░░░  ░░  ▓▓░░░░            ▓▓▓▓▒▒    ▒▒░░░░                              ░░▒▒▓▓▒▒▒▒▒▒░░
░░░░░░░░░░░░              ░░                  ░░░░░░░░  ░░░░░░░░  ░░  ░░                ▓▓▒▒░░▓▓  ▒▒░░░░░░                        ▒▒▒▒▒▒▒▒░░░░
░░▒▒░░░░░░░░░░░░                              ░░░░░░░░  ░░░░░░░░    ░░  ░░              ▒▒▓▓▓▓▒▒▒▒░░░░░░░░                ░░░░
░░░░░░░░░░    ░░  ░░░░░░                      ░░░░░░░░░░░░░░░░░░░░                          ▓▓  ░░░░░░░░░░                                            ░░░░
                                                ▒▒░░░░░░░░░░░░░░░░░░░░                    ░░  ░░▒▒░░░░░░
                                        ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░            ░░        ▒▒░░░░░░░░░░
░░                                    ░░░░  ░░░░░░░░░░░░▒▒░░░░░░░░                      ░░░░  ▒▒░░░░░░░░░░
                                    ░░░░    ░░░░░░░░░░░░▒▒░░░░░░░░          ░░░░░░        ░░░░░░░░░░░░  ░░
                                            ▒▒░░░░░░▒▒░░░░░░░░░░▒▒░░      ░░░░░░░░░░        ▒▒░░░░░░░░░░░░
░░░░                              ░░░░      ▒▒░░░░▒▒▒▒░░░░▒▒░░░░░░░░      ░░░░░░░░░░        ▒▒░░░░░░▒▒░░                  ░░░░░░░░    ░░
                                  ░░░░      ░░░░░░▒▒░░░░░░▒▒░░░░░░▒▒    ░░░░░░░░░░░░        ▒▒░░░░░░▒▒░░                            ░░▒▒░░░░░░░░  ░░░░░░░░
                                          ░░░░░░░░▒▒▒▒░░░░░░░░░░░░▒▒░░  ░░░░░░░░░░░░      ░░░░░░░░░░▒▒░░░░                                ░░░░░░░░▒▒░░░░░░
                                        ▒▒░░░░░░▒▒▒▒▒▒▒▒░░▒▒▒▒░░░░░░▒▒    ░░░░░░░░      ░░░░░░░░░░░░░░░░░░                                        ░░▒▒▒▒▒▒
                                  ░░  ░░  ░░░░░░▒▒▒▒▒▒▒▒░░░░▒▒░░░░░░░░░░              ▒▒▒▒▒▒░░░░░░▒▒▒▒░░░░
░░░░░░░░░░░░░░  ░░░░              ░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒░░░░▒▒▒▒░░░░░░░░▒▒        ▒▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒░░░░░░
░░      ░░░░                      ░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░▒▒░░░░░░░░▒▒░░██▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▒▒░░░░
░░░░              ░░░░░░░░        ░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░▒▒░░░░░░░░░░░░▒▒░░▒▒░░▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▒▒░░░░░░    ░░
░░░░░░░░░░░░░░░░░░░░░░            ░░░░░░▒▒▒▒░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒  ▒▒░░▒▒▒▒░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▒▒░░░░░░      ░░▒▒
▒▒░░▒▒░░░░░░░░                  ░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒          ░░░░▒▒░░░░░░░░░░▒▒    ░░  ░░▒▒▒▒░░░░░░▒▒░░▒▒▒▒░░░░          ▒▒▒▒░░░░
░░░░░░                          ░░░░▒▒▒▒░░▒▒░░░░  ▒▒        ░░░░▒▒░░░░░░░░░░▒▒              ▓▓░░░░▒▒▒▒▒▒▒▒░░░░░░            ░░▒▒░░▒▒░░
                                ░░░░▒▒▒▒▒▒░░  ░░  ▓▓          ░░    ░░░░░░░░░░░░              ▓▓░░░░▒▒▒▒▒▒▒▒░░░░                ░░▒▒░░▒▒░░              ░░
          ░░░░░░░░░░            ░░▒▒▒▒▒▒            ▓▓      ░░    ░░░░░░░░░░░░░░              ▓▓▒▒░░░░▒▒░░▒▒░░░░                  ░░░░▒▒▒▒░░░░░░
░░░░░░░░░░░░░░▒▒░░              ░░▒▒▒▒              ▓▓▓▓  ░░░░░░    ░░░░  ░░░░░░              ░░░░▒▒░░░░  ▒▒▒▒░░░░    ░░              ░░▒▒▒▒▒▒▒▒░░░░
░░░░░░░░░░▒▒░░          ░░░░░░░░░░▒▒░░              ▒▒▓▓  ░░    ░░░░  ░░  ░░░░░░                ▒▒░░░░░░░░░░▒▒░░░░  ░░    ░░░░          ░░░░▒▒▒▒░░▓▓░░░░
░░░░▒▒▒▒░░        ░░░░░░░░▒▒░░░░░░▒▒            ░░░░  ▓▓▒▒░░      ░░▒▒░░░░░░░░░░░░              ▓▓░░▒▒░░░░░░▒▒░░░░  ▒▒        ░░          ░░▒▒  ▒▒░░░░▓▓░░
░░░░        ░░░░░░░░░░▒▒░░░░  ░░░░▒▒            ░░    ▒▒▓▓          ░░▒▒░░░░░░░░░░              ░░▒▒░░▒▒░░░░▒▒░░░░░░▒▒░░░░░░  ░░  ░░          ░░▒▒  ▒▒░░░░
░░░░  ░░░░░░░░░░░░░░▒▒░░░░░░    ░░░░  ░░░░        ░░░░  ▓▓      ░░  ░░▒▒░░▒▒░░░░░░                ░░░░▓▓▓▓░░▒▒░░▒▒▒▒▒▒░░░░░░        ▓▓            ▒▒▒▒  ▒▒
░░░░░░░░░░░░░░░░▒▒░░  ░░░░      ░░  ▒▒            ░░░░░░▓▓      ░░▒▒▒▒▒▒░░▒▒░░░░                  ▓▓▒▒▒▒▒▒░░░░░░▒▒░░▒▒▒▒        ░░    ▒▒            ░░▒▒░░
░░░░░░░░░░░░░░▓▓░░░░▒▒          ░░░░                ░░░░▓▓    ░░  ▒▒▓▓░░░░░░░░░░░░                ▓▓░░▒▒░░▒▒▒▒░░░░░░░░▓▓░░▒▒░░  ░░      ░░▒▒            ░░
░░░░░░░░░░░░░░░░░░▒▒░░          ░░░░                ░░░░▒▒    ░░  ░░▓▓░░▒▒░░░░░░░░          ▒▒    ▒▒  ▒▒▒▒▒▒▒▒▒▒  ░░░░░░▓▓▓▓    ░░          ▓▓

</pre>
  </div>
</div>
</PageLayout>
