---
interface Props {
  PAGE_ID: string;
  PAGE_URL: string;
  PAGE_TITLE: string;
}
const {PAGE_ID, PAGE_URL, PAGE_TITLE} = Astro.props;
---

<div id="cusdis_thread"
  data-host={"https://cusdis.com"}
  data-app-id={"4da780ff-6c97-43c9-8267-c97634af20c6"}
  data-page-id={ PAGE_ID }
  data-page-url={ PAGE_URL }
  data-page-title={ PAGE_TITLE }
  class="mt-14 font-sans"
  ></div>
  <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
