---
import { supportedLanguages } from 'i18n';

interface Props{
  locales: string[]
  slug: string
}

const { locales,slug } = Astro.props;
---
{locales?.length > 0 &&
<div class="translations w-full border-2 p-3 rounded break-keep my-4 border-black dark:border-white">
  <p>
    Translated into:
      {
        locales?.map( (language, i )=> <>
        { i > 0 && " • "}<a class="underline" href={`/${language}/posts/${slug}`}>{supportedLanguages[language] as string}</a>
        </>)
      }
  </p>
</div>
}
